.footer-container{
    height: 20%;
    width: 100%;
    color: rgb(204, 201, 255);
    background: rgba(90, 86, 143);
    display: flex;
    position: relative;
}

.footer-container div{
    height: 100%;
    width: 100%;
    text-align: center;
}

.stat-title, .stats{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.25rem;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.stat-title{
    border-left: 5px dotted white;
    border-right: 5px dotted #E84172;
}

.stats{
    font-size: 2rem;
}

.stats:first-child{
    color: white;
}

.stats:last-child{
    color:#E84172;
}